/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML / Body */
html, body {
  width: 100%;
  height: 100%;
  background: #ffffff;
  background-color: #ffffff;
  color: #181818;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
#__next {
  background-color: #ffffff;
}


/* Links */
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  color: inherit;
  border: none;
}


.toast-message {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  background: #181818;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  opacity: 0.9;
  z-index: 10000;
  pointer-events: none;
  width: 400px;
  text-align: center;
}
